.dashboard {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #ff80aa, #ff99b9);
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}


.sidebar {
  width: 250px;
  background: #d76ba3;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 120px;
  
}


.sidebar button {
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  border: none;
  color: white;
  padding: 12px 0;
  margin-bottom: 12px;
   margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.sidebar button:hover {
  background: rgba(255, 255, 255, 0.45);
}


.main-content {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
}

.main-content h1 {
  text-align: center;
  color: white;
  margin-bottom: 25px;
}


.user-table {
  width: 100%;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  overflow: hidden;
   table-layout: fixed;
}

.user-table th,
.user-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  color: #4a4a4a;
  word-wrap: break-word;
}

.user-table th {
  background: #ffc0cb;
  font-weight: 600;
  text-align: left;
  font-size: 16px;
}

.btn {
  padding: 6px 10px;
  margin: 2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.btn.add { background: #6b4fa3; color: white; }
.btn.edit { background: #b63c77; color: white; }
.btn.delete { background: #e57373; color: white; }
.btn.save { background: #4caf50; color: white; }
.btn.cancel { background: #9e9e9e; color: white; }

.empty {
  text-align: center;
  color: #666;
}

.crud-table {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  border-collapse: separate;
  border-spacing: 0;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.crud-table thead {
  background: linear-gradient(to right, #ffc0cb, #ff99b7);
  color: #333;
}

.crud-table th,
.crud-table td {
  padding: 14px 30px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 15px;
}

.crud-table th {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}


.crud-table th:nth-child(1),
.crud-table td:nth-child(1) {
  width: 25%;
}

.crud-table th:nth-child(2),
.crud-table td:nth-child(2) {
  width: 30%;
}

.crud-table th:nth-child(3),
.crud-table td:nth-child(3) {
  width: 25%;
}

.crud-table th:nth-child(4),
.crud-table td:nth-child(4) {
  width: 20%;
}

.crud-table tbody tr:hover {
  background: rgba(255, 255, 255, 0.3);
  transition: 0.3s ease;
}
